<app-layout>
  <div class="page">
    <div class="container">
      <div class="about-us">
        <div class="row ai-c">
          <div class="col-md-6">
            <div class="img">
              <img src="assets/images/about-us.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="header">
                <h6>مجلس الوحدة الاقتصادية العربية</h6>
                <h2>من نحن</h2>
              </div>
              <div class="body">
                <p>صدر قرار الدورة العادية الثالثة والثمانين لمجلس الوحدة الاقتصادية العربيه – جامعة الدول العربيه رقم 1305/د83 في 7/6/2006 بالموافقة على إنشاء مركز للتدريب تابع للمجلس  ، وقد تم إفتتاح مركز التدريب يوم 10 ديسمبر 2006، ليتم عن طريقه تقديم البرامج التدريبية المناسبة لاحتياجات الدول العربية  .  </p>
              </div>
              <div class="footer">
                <a href="#">
                  <img src="assets/images/icons/green-arrow-right.svg" alt="">
                  <span>تواصل نعنا</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="target">
        <div class="row ai-c">
          <div class="col-md-6">
            <div class="info">
              <div class="header">
                <h6>مجلس الوحدة الاقتصادية العربية</h6>
                <h2>الأهـــــــداف</h2>
              </div>
              <div class="body">
                <p>إعداد البرامج التدريبية التى تقابل احتياجات المورد البشرى بالدول العربية و في الموضوعات المختلفه  ( إداريه – فنيه – تخصصيه ) ، وذلك بالتعـاون مع الاتحـادات النـوعية العـربية التابعـة للمجلس و مع الجهـات والمنظمات العربيه والدولية المعنية بالموضوعات التي تهم الدول العربية . </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img">
              <img src="assets/images/people.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details position-relative">
      <div class="container">
        <div class="img">
          <img src="assets/images/GroupOfImages.png" alt="">
        </div>
        <div class="background">
          <ul>
            <li>
              تقديم مجموعة من الدبلومات المهنية المتخصصة في المجالات ذات العلاقة لتطوير مهنية العنصر البشري بما يعود بالنفع على بيئة العمل العربيه. 
            </li>
            <li>تقديم الدعم المهني ( الخدمات الاستشارية – و تصميم الانظمة والبرامج ) لكافة المؤسسات و الهيئات علي مستوي الوطن العربي . </li>
          </ul>
          <button class="primary">
            سجل الان
          </button>
        </div>
      </div>
    </div>
  </div>
</app-layout>