<app-layout>
  <div class="page">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="form">
            <form>
              <h2>التحقق من الشهادات</h2>
              <p>ادخل الرقم الخاص بالشهادة (Serial Number) ليتم عرضها</p>
              <div class="input-box">
                <label for="serial">Certificate Serial Number</label>
                <div class="input">
                  <button>
                    <img src="assets/images/icons/white-arrow-right.svg" alt="">
                    <span>ارسال</span>
                  </button>
                  <input type="text" id="serial">
                </div>
              </div>
              <button class="submit">تحميل الشهادة</button>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="img">
            <img src="assets/images/certifcate.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>