<div class="modal-header">
  <h4 class="modal-title">المحادثة باللغة الإنجليزية Conversation In English</h4>
  <button type="button" data-bs-dismiss="modal" class="btn-close close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="name">الإسم</label>
          <input id="name" type="text" class="form-control" placeholder="الإسم">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="nationalId">الرقم القومى</label>
          <input id="nationalId" type="number" class="form-control" placeholder="الرقم القومى">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="email">البريد الالكترونى</label>
          <input id="email" type="number" class="form-control" placeholder="البريد الالكترونى">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="certificate">المؤهل</label>
          <select class="form-control" id="certificate">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="graduationYear">سنة التخرج</label>
          <select class="form-control" id="graduationYear">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="country">الدولة</label>
          <select class="form-control" id="country">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="governorate">المحافظة</label>
          <select class="form-control" id="governorate">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="training">البرنامج التدريبى</label>
          <select class="form-control" id="training">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="course">الكورس</label>
          <select class="form-control" id="course">
            <option value="">test</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <label for="address">المقر</label>
          <select class="form-control" id="address">
            <option value="">test</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-flex jc-c">
      <button type="submit" class="primary-button send">
        <span>سجل الان</span>
        <img src="assets/images/icons/arrow-left.svg" alt="">
      </button>
    </div>
  </form>
</div>
