<div class="modal-header">
  <h4 class="modal-title">المحادثة باللغة الإنجليزية Conversation In English</h4>
  <button type="button" data-bs-dismiss="modal" class="btn-close close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerationForm">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="name">الإسم</label>
          <input id="name" type="text" class="form-control" formControlName="enquiry_name" placeholder="الإسم">
          <div
            *ngIf="(f['enquiry_name'].touched && f['enquiry_name'].invalid) || (formSubmitted && f['enquiry_name'].invalid)">
            <div class="text-danger" *ngIf="f['enquiry_name'].errors?.['required']">هذا الحقل مطلوب</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="nationalId">الرقم القومى</label>
          <input id="nationalId" type="number" class="form-control" formControlName="enquiry_national_id" placeholder="الرقم القومى">
          <div
            *ngIf="(f['enquiry_national_id'].touched && f['enquiry_national_id'].invalid) || (formSubmitted && f['enquiry_national_id'].invalid)">
            <div class="text-danger" *ngIf="f['enquiry_national_id'].errors?.['required']">هذا الحقل مطلوب</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="email">البريد الالكترونى</label>
          <input id="email" type="email" class="form-control" formControlName="enquiry_email" placeholder="البريد الالكترونى">
          <div
            *ngIf="(f['enquiry_email'].touched && f['enquiry_email'].invalid) || (formSubmitted && f['enquiry_email'].invalid)">
            <div class="text-danger" *ngIf="f['enquiry_email'].errors?.['required']">هذا الحقل مطلوب</div>
            <div class="text-danger" *ngIf="f['enquiry_email'].errors?.['email']">ايميل خاطئ</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="certificate">المؤهل</label>
          <select class="form-control" id="certificate" formControlName="enquiry_qualification_id">
            <option *ngFor="let qualification of qualifications?.data?.list" [value]="qualification.id">{{qualification.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="graduationYear">سنة التخرج</label>
          <select class="form-control" id="graduationYear" formControlName="enquiry_graduate_year">
            <option *ngFor="let year of graduationYears?.data?.list" [value]="year.key">{{year.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="country">الدولة</label>
          <select class="form-control" id="country" formControlName="enquiry_country_id">
            <option *ngFor="let country of countries?.data?.list" [value]="country.id">{{country.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="governorate">المحافظة</label>
          <select class="form-control" id="governorate" formControlName="enquiry_gov_id">
            <option *ngFor="let governorate of governorates?.data?.list" [value]="governorate.id">{{governorate.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="training">البرنامج التدريبى</label>
          <select class="form-control" id="training" formControlName="enquiry_category_id" (change)="getCourses()">
            <option *ngFor="let category of categories?.data?.list" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4" *ngIf="courses?.data?.length > 0">
        <div class="form-group">
          <label for="course">الكورس</label>
          <select class="form-control" id="course" formControlName="enquiry_course_id">
            <option *ngFor="let course of courses?.data" [value]="course.id">{{course.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="address">المقر</label>
          <select class="form-control" id="address" formControlName="genquiry_branch_id">
            <option *ngFor="let branch of branches?.data?.list" [value]="branch.branch_id">{{branch.branch_name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <label for="Phone">رقم التليفون</label>
          <input type="number" id="phone" class="form-control" formControlName="genquiry_telephone">
          <div
            *ngIf="(f['genquiry_telephone'].touched && f['genquiry_telephone'].invalid) || (formSubmitted && f['genquiry_telephone'].invalid)">
            <div class="text-danger" *ngIf="f['genquiry_telephone'].errors?.['required']">هذا الحقل مطلوب</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex jc-c">
      <button type="submit" class="primary-button send" (click)="save()">
        <span>سجل الان</span>
        <img src="assets/images/icons/arrow-left.svg" alt="">
      </button>
    </div>
  </form>
</div>
