@import '/src/assets/abstracts/variables';

footer.footer {
  background: #F6F6F6;
  text-align: right;
  margin-top: 5em;
  position: relative;
  .subscribe {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    gap: 2em;
    width: 65%;
    margin: auto;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    .input-box {
      width: 50%;
      button {
        border-radius: 0px 8px 8px 0px;
        border: 1px solid $mainGreenColor;
        background: $mainGreenColor;
        padding: 0 16px;
        color: #FFF;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      input {
        border-radius: 8px 0px 0px 8px;
        border: 1px solid #E1E4E8;
        width: 100%;
        height: 48px;
        outline: none;
        padding: 0 1em;
        &::placeholder {
          color: rgba(68, 77, 86, 0.60);
        }
      }
    }
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      h4 {
        color: #070716;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.48px;
      }
      h5 {
        color: #444D56;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .footer-container {
    padding: 6em 10em 3em;
    .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      width: 50%;
      margin: auto;
      .logo {
        .img {
          width: 160px;
          height: 160px;
        }
        span {
          color: #252223;
          text-align: center;
          font-size: 11px;
          font-weight: 400;
        }
      }
      .body {
        p {
          text-align: center;
          color: #4B5768;
          font-size: 18px;
          line-height: 160%;
          font-weight: 400;
        }
      }
    }
  }
  .copyright-box {
    padding: 20px 10px;
    color: $mainBlackColor;
    text-align: center;
    font-weight: 700;
  }
}