.slidesContainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  img { width: 100%;}
  .text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10em;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    h4 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      color: #FFF;
    }
    .actions {
      display: flex;
      gap: 1em;
      button.primary-white-button {
        border: none;
        border-radius: 12px;
        background: var(--White, #FFF);
        padding: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #008043;
      }
      button.primary-white-outline-button {
        border-radius: 12px;
        border: 2px solid var(--White, #FFF);
        background: transparent;
        font-size: 20px;
        font-weight: 700;
        color: #FFF;
        padding: 20px;
      }
    }
  }
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.details {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 90%;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.80);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%);
  backdrop-filter: blur(4px);
  padding: 0 56px;
  // padding: 24px 56px;
  margin: 0 5em;
  direction: ltr;
  .caption {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Cairo', sans-serif;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #FFF;
      color: #008043;
      border-radius: 20px;
    }
  }
}