@import '/src/assets/abstracts/variables';

nav.navbar {
  padding: 0.5rem 5rem;
  background: #fff;
  a.navbar-brand {
    img {
      width: 85px;
      height: 85px;
    }
    span {
      color: #252223;
      text-align: center;
      font-size: 11px;
      font-weight: 400;
    }
  }
  ul.navbar-nav {
    margin-right: 3rem;
    li.nav-item {
      a.nav-link {
        color: $sharedGreyColor;
        font-weight: 500;
      }
    }
  }
}